html,
body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,400&display=swap');

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Light.ttf') format('truetype');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: normal;
}
/* /FONTS */

/* PLACEMENTS & COLORS */
.cv-container {
  font-family: 'Raleway', Arial, sans-serif;
  width: 1160px;
  margin: auto;
  color: #333333;
}

.cv-content {
  display: flex;
  flex-direction: row;
}

header {
  height: 240px;
  background-color: #17abb3;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sidebar {
  width: 350px;
  background-color: #e3e3e3;
  display: flex;
  flex-direction: column;
}

.content {
  background-color: #ffffff;
  display: flex;
  flex: 1;
  flex-direction: column;
}

footer {
  height: 85px;
  background-color: #17abb3;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
/* /PLACEMENTS & COLORS */

/* HEADER */
header h1 {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 0;
}

header h2 {
  font-size: 25px;
  margin-top: 0;
}

#profile-pic {
  border-radius: 50%;
  border: #ffffff solid 5px;
  width: 140px;
  height: 140px;
  margin-left: 100px;
}

.header-content {
  display: flex;
  flex-direction: column;
  padding-right: 200px;
  align-items: center;
}

.header-infos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  line-height: 30px;
}

.header-infos__item {
  display: flex;
  color: #ffffff;
  text-decoration: none;
  font-size: small;
  font-weight: light;
  align-items: center;
}

.header-infos__item img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
/* /HEADER */
