body {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

* {
  box-sizing: border-box;
}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,400&display=swap');

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: normal;
  color: #17abb3;
}
/* /FONTS */

/* PLACEMENTS & COLORS */
.cv-container {
  font-family: 'Raleway', Arial, sans-serif;
  width: 1160px;
  margin: auto;
  color: #333333;
}

main {
  display: flex;
  flex-direction: row;
}

header {
  height: 240px;
  background-color: #17abb3;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sidebar {
  width: 350px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
}

.stars {
  color: #17abb3;
}

.main-content {
  background-color: #ffffff;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 30px 50px;
}

footer {
  height: 85px;
  background-color: #17abb3;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.white {
  color: #ffffff;
}

hr {
  border: solid 1px #e3e3e3;
}
/* /PLACEMENTS & COLORS */

/* HEADER */
header h1 {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 0;
}

header h2 {
  font-size: 25px;
  margin-top: 0;
}

.header-picture {
  display: flex;
  flex-direction: column;
  width: 350px;
  align-items: center;
}

#profile-pic img {
  border-radius: 50%;
  border: #ffffff solid 5px;
  width: 150px;
  height: 150px;
}

.header-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.header-infos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  line-height: 30px;
}

.header-infos__item {
  display: flex;
  color: #ffffff;
  text-decoration: none;
  font-size: small;
  font-weight: 300;
  align-items: center;
}

.header-infos__item img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
/* /HEADER */

/* SIDEBAR */
.sidebar-item h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

.sidebar-item li {
  margin-bottom: 5px;
}

#competences-list,
#languages-list {
  list-style-type: none;
  padding: 0;
}

#competences-list li,
#languages-list li {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  align-items: center;
}

.competence,
.language {
  font-weight: bold;
}

#qualities-list,
#interests-list {
  padding: 0;
  list-style-type: none;
}

#qualities-list li::before,
#interests-list li::before {
  content: '■';
  color: #17abb3;
  margin-right: 10px;
}
/* /SIDEBAR */

/* MAIN CONTENT */
.main-content section {
  margin-bottom: 5px;
}

.main-content h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

#profile p {
  margin-bottom: 0px;
  text-align: justify;
  text-indent: 3%;
}

#profile p:nth-last-of-type(1) {
  margin: 0px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-bottom: 10px;
  transition: all 0.1s ease-in-out;
}

.card strong {
  font-family: 'lato', Arial, sans-serif;
}

.card em {
  font-size: smaller;
}

.card p {
  margin: 0;
}

.card__date {
  color: #17abb3;
}
/* /MAIN CONTENT */

/* FOOTER */
footer img {
  width: 20px;
  height: 20px;
}

#social {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 25px;
}

footer small {
  font-style: italic;
}

footer small time {
  font-weight: bold;
}
/* /FOOTER */

/* EFFECTS */
.card:hover {
  background-color: #e3e3e3;
  border-left: 4px solid #17abb3;
  padding-left: 5px;
}

.social-logo:hover {
  opacity: 0.5;
}

#profile-pic:hover {
  cursor: zoom-in;
}
/* /EFFECTS  */
